.output {
  border: 1px solid black;
  height: 10vw;
  width: 79vw;
}

.box {
  border: 1px solid black;
  height: 19vw;
  width: 19vw;
  display: inline-block;
}

.big {
  border: 1px solid black;
  height: 19vw;
  width: 39vw;
  display: inline-block;
}
