#display {
  text-align: right;
  background-color: grey;
  color: white;
  margin-bottom: 0;
  font-size: 120%;
  padding: 10px 10px;
  height: 40px;
}

.calcContainer {
  height: 500px;
  width: 200px;
  /*position: relative;*/
  /*border: 1px solid black;*/
}

td {
  border: 1px solid black;
}

.lightGray {
  background-color: lightgrey;
}

tr>td:last-child {
  background-color: orange;
}
